.header {
  // #wave {
  //   width: 100%;
  //   position: absolute;
  // }
  #wave2 {
    width: 100%;
    height: 83vh;
    top: 35px;
    position: absolute;
  }
  .turtle {
    position: absolute;
    animation-name: turtle;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    @keyframes turtle {
      0% {
        right: 0;
      }
      10% {
        transform: rotate(-10deg);
      }
      20% {
        transform: rotate(-20deg);
      }
      30% {
        transform: rotate(-10deg);
      }
      40% {
        transform: rotate(-20deg);
      }
      50% {
        transform: rotate(-10deg);
      }
      60% {
        transform: rotate(-20deg);
      }
      70% {
        transform: rotate(-10deg);
      }
      80% {
        transform: rotate(-20deg);
      }
      90% {
        transform: rotate(-10deg);
      }

      100% {
        right: 100%;
        transform: rotate(-20deg);
      }
    }
    &::before {
      content: "";
      background-image: url("./icons/firstleg.svg");
      display: block;
      position: absolute;
      width: 12px;
      height: 25px;
      left: 20%;
      bottom: 16%;
      animation-name: firstleg;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      @keyframes firstleg {
        0% {
          transform: rotate(30deg);
        }
        50% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(30deg);
        }
      }
    }
    &::after {
      content: "";
      background-image: url("./icons/secondleg.svg");
      display: block;
      position: absolute;
      width: 10px;
      height: 19px;
      bottom: 3%;
      right: 30%;
      animation-name: secondleg;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      @keyframes secondleg {
        0% {
          transform: rotate(30deg);
        }
        50% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(30deg);
        }
      }
    }
  }
  background-color: #204379;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 60px;
  gap: 32px;
  //參考?
  // position: absolute;
  // height: 634px;
  // left: 0px;
  // right: 0px;
  // top: 0px;

  .txtandbtn {
    color: white;
    letter-spacing: 0.2em;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 125%;
    }
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 125%;
    }
    .btn {
      padding: 16px 20px;
      gap: 8px;
      width: 200px;
      height: 57px;
      transform: translateX(30px);
      background: #b57556;
      box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
      border-radius: 50px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      color: white;
      letter-spacing: 0.2em;
      margin-top: 36px;
      border: none;
      text-align: center;
      position: relative;
      cursor: pointer;
      &.btn:after {
        content: "";
        background: #b57556;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
      &::before {
        content: "";
        background: linear-gradient(
          124deg,
          #ff2400,
          #e81d1d,
          #e8b71d,
          #e3e81d,
          #1de840,
          #1ddde8,
          #2b1de8,
          #dd00f3,
          #dd00f3
        );
        background-size: auto;
        background-size: 400%;
        // width: calc(100% + 4px);
        // height: calc(100% + 4px);
        width: 100%;
        height: 100%;
        border-radius: 50px;
        filter: blur(5px);
        // opacity: 0;
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: -2;
        transition: all 0.3s ease-in-out;
        animation: move 20s linear infinite;
      }
      // &::before {
      //   opacity: 1;
      // }
      @keyframes move {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }

      a {
        &:visited {
          color: white;
        }
        text-decoration: none;
        list-style: none;
      }
      &:active {
        border: 3px solid #74584a;
      }
    }
  }
  .content {
    z-index: 5;
    padding: 24px 16px;
    gap: 24px;
    background: #dae4f1;
    border: 2px solid #b57556;
    border-radius: 20px;

    //rwd
    width: 57%;
    // height: 322px;
    position: relative;

    //iconposition

    .bubblesup {
      position: absolute;
      //adj
      top: -40px;
      right: -3%;

      &::before {
        content: "";
        background-image: url("./icons/fin.svg");
        display: block;
        position: absolute;
        width: 62px;
        height: 46px;
        right: -3px;
        bottom: 14px;
        & {
          animation-name: fin;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-direction: normal;
        }
        @keyframes fin {
          0% {
            transform: rotate(20deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }

      //bubblesupanimation
      & {
        animation-name: bubblesup;
        animation-duration: 24s;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @keyframes bubblesup {
        0% {
          right: -3%;
        }
        35% {
          right: 85%;
          // transform: rotate(0deg);
        }

        50% {
          right: 95%;
          // transform: rotate(90deg);
        }
        85% {
          // transform: rotate(360deg);
        }
        100% {
          right: -3%;
        }
      }

      .bubble {
        position: absolute;
        // top: 0%;
        right: 45%;

        &::before {
          content: "";
          background-image: url("./icons/sbubble.svg");
          display: block;
          position: absolute;
          width: 12px;
          height: 12px;
          top: -30px;
          right: 3px;
        }
        &::after {
          content: "";
          background-image: url("./icons/lbubble.svg");
          display: block;
          position: absolute;

          width: 20px;
          height: 20px;
          top: -50px;
          right: -15px;
        }
      }

      //bubbleanimation
      .bubble {
        animation-name: bubble;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: normal;
      }
      @keyframes bubble {
        0% {
          transform: scale(0%);
          top: 0%;
        }
        50% {
          top: -25%;
        }
        75% {
          opacity: 0.7;
          transform: scale(100%);
        }
        100% {
          opacity: 0;
          top: -75%;
        }
      }
    }
    .firesup {
      position: absolute;
      bottom: 0;
      left: 7%;

      &::before {
        content: "";
        background-image: url("./icons/fire.svg");
        display: block;
        width: 52px;
        height: 52px;
        position: absolute;
        bottom: -45px;
        left: -35px;
        animation-name: fire;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        @keyframes fire {
          0% {
            transform: scale(10%);
            bottom: 0px;
          }
          50% {
            bottom: 100px;
          }
          75% {
            opacity: 0.7;
            transform: scale(200%);
          }
          100% {
            opacity: 0;
            bottom: 100px;
          }
        }
      }
      &::after {
        content: "";
        background-image: url("./icons/sup.svg");
        display: block;
        width: 66px;
        height: 67px;
        position: absolute;
        bottom: -45px;
      }
    }

    .con {
      display: block;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      color: #204379;
      h3 {
        margin: 24px;
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          background-image: url("./icons/grass.svg");
          display: block;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          left: -30px;
        }
        &::before {
          content: "";
          background-image: url("./icons/grass.svg");
          display: block;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 0;
          right: -30px;
        }
      }
      ol {
        margin-left: 16px;
      }
      ol li {
        text-align: start;
        align-self: stretch;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #204379;
      }
    }
    .con2 ol li:first-child strong {
      text-decoration: underline;
    }
  }

  .header-food {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 10vh;
    background: rgba(226, 217, 211, 1);

    &::after {
      content: "";
      background-image: url("./icons/waves.png");
      width: calc(100%);
      height: calc(150%);
      position: absolute;
      bottom: 0%;
      transition: all 0.3s ease-in-out;
      animation: waves 20s linear infinite;
      @keyframes waves {
        0% {
          background-position: 400%;
        }
        100% {
          background-position: 0%;
        }
      }
    }
  }
}

@media (max-width: 450px) and (max-height: 950px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 118%;
  }
  @keyframes bubblesup {
    0% {
      right: -3%;
    }
    35% {
      right: 80%;
      transform: rotate(0deg);
    }
    50% {
      right: 85%;
      transform: rotate(180deg);
    }
    85% {
      transform: rotate(180deg);
    }
    100% {
      right: -3%;
    }
  }
}
// @media (max-width: 450px) and (max-height: 888px) {
//   .header .content {
//     width: 88%;
//   }
//   .header .header-food::after {
//     height: 123%;
//   }
//   @keyframes bubblesup {
//     0% {
//       right: -3%;
//     }
//     35% {
//       right: 70%;
//       transform: rotate(0deg);
//     }
//     50% {
//       right: 80%;
//       transform: rotate(180deg);
//     }
//     85% {
//       transform: rotate(180deg);
//     }
//     100% {
//       right: -3%;
//     }
//   }
// }
@media (max-width: 950px) and (max-height: 500px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 256%;
  }
}

@media (width: 810px) and (height: 1080px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 100%;
  }
}
@media (width: 800px) and (height: 1280px) {
  .header .content {
    width: 88%;
  }
  .header-food {
    min-height: 8vh !important;
  }
  .header .header-food::after {
    height: 105%;
  }
}

@media (max-width: 1921px) and (min-width: 1900px) {
  .header-food {
    min-height: 8vh !important;
  }
  .header .header-food::after {
    height: 113%;
  }
}

@media (max-width: 414px) and (max-height: 888px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 123%;
  }
  // @keyframes bubblesup {
  //   0% {
  //     right: -3%;
  //   }
  //   35% {
  //     right: 70%;
  //     transform: rotate(0deg);
  //   }
  //   50% {
  //     right: 80%;
  //     transform: rotate(180deg);
  //   }
  //   85% {
  //     transform: rotate(180deg);
  //   }
  //   100% {
  //     right: -3%;
  //   }
  // }
}
