@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}
body .header {
  background-color: #204379;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 634px;
  padding: 60px 0px 8px;
  gap: 32px;
}
body .header .txtandbtn {
  color: white;
  letter-spacing: 0.2em;
}
body .header .txtandbtn h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
}
body .header .txtandbtn p {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
}
body .header .txtandbtn button {
  padding: 16px 20px;
  gap: 8px;
  width: 200px;
  height: 57px;
  background: #b57556;
  box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: white;
  letter-spacing: 0.2em;
  margin-top: 36px;
  border: none;
}
body .header .txtandbtn button:active {
  border: 3px solid #74584a;
}
body .header .content {
  padding: 24px 16px;
  gap: 24px;
  background: #dae4f1;
  border: 2px solid #b57556;
  border-radius: 20px;
  width: 808px;
  height: 322px;
}
body .header .content .con {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #204379;
}
body .header .content .con h3 {
  margin: 24px;
}
body .header .content .con ol {
  margin-left: 16px;
}
body .header .content .con ol li {
  text-align: start;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #204379;
}
body .header .content .con2 ol li:first-child strong {
  text-decoration: underline;
}
body .header-food {
  display: flex;
  width: 100%;
}
body .header-food img {
  width: 100%;
}

.lottery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 58px;
  margin-top: 40px;
  gap: 40px;
  background: rgb(226, 217, 211);
  height: 813px;
}
.lottery .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  width: 808px;
  background: #ffffff;
  border: 2px solid #b57556;
  box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
  border-radius: 16px;
  margin: auto;
}
.lottery .form form {
  width: 100%;
  height: 100%;
}
.lottery .form form label {
  display: block;
  width: 38px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #204379;
  position: relative;
}
.lottery .form form label::after {
  content: "*";
  color: red;
  position: absolute;
  margin-left: 4px;
  top: -3px;
}
.lottery .form form input,
.lottery .form form select {
  width: 95%;
  background: #ffffff;
  border: 1px solid #204379;
  border-radius: 20px;
  height: 10%;
  padding: 16px;
  margin: 0.5rem 0 1rem 0;
}
.lottery .submit {
  width: 20%;
  min-height: 57px;
  background: #b57556;
  box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 125%;
}
.lottery .submit .success {
  display: none;
  vertical-align: bottom;
  transform: translateX(-50%);
  color: #e6ffb1;
}
.lottery .submit .failure {
  display: none;
  vertical-align: bottom;
  color: #ffe3e3;
  transform: rotate(-45deg);
  transform: translateX(-150%);
}
.lottery .setsubmit {
  color: #e6ffb1;
}
.lottery .setsubmit .success {
  display: inline;
}
.lottery .setfailure {
  color: #ffe3e3;
}
.lottery .setfailure .failure {
  display: inline;
}
.lottery .failuremsg {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #e06d6d;
}
.lottery .successmsg {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7886dc;
}
.lottery .succes:active {
  border: 3px solid #74584a;
}
.lottery .disabled {
  opacity: 0.7;
}

.Gift {
  background: rgb(226, 217, 211);
  background-image: url("./icons/抽獎沙子.png");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 40px;
}
.Gift .background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20%;
}
.Gift .background .giftitem {
  width: 178px;
  height: 145px;
  position: relative;
  margin: 10px;
}
.Gift .background .giftitem .giftbottom {
  position: absolute;
  width: 178px;
  height: 108px;
  left: 0px;
  top: 24px;
  background: #ffffff;
  box-shadow: 0px 8px 0px #edeef0;
  border-radius: 20px;
}
.Gift .background .giftitem .giftlabel {
  position: absolute;
  left: 31.46%;
}
.Gift .background .giftitem .giftlabel p {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 27px;
  top: 23px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16.916px;
  line-height: 125%;
  /* or 21px */
  text-align: center;
  color: white;
}
.Gift .background .giftitem .giftright {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 10px;
  gap: 10px;
  position: absolute;
  width: 46px;
  height: 26px;
  left: 125px;
  top: 42px;
  background: #fafafa;
  border: 1px solid #b3b960;
  border-radius: 50px;
  color: #b3b960;
}
.Gift .background .giftitem .gifttxt {
  position: absolute;
  top: 68%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  width: 100%;
  text-align: center;
  color: #b3b960;
}/*# sourceMappingURL=style.css.map */