* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  .header {
    // #wave {
    //   width: 100%;
    //   position: absolute;
    // }
    #wave2 {
      width: 100%;
      top: 35px;
      position: absolute;
    }
    .turtle {
      position: absolute;
      animation-name: turtle;
      animation-duration: 24s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      @keyframes turtle {
        0% {
          right: 0;
        }
        10% {
          transform: rotate(-10deg);
        }
        20% {
          transform: rotate(-20deg);
        }
        30% {
          transform: rotate(-10deg);
        }
        40% {
          transform: rotate(-20deg);
        }
        50% {
          transform: rotate(-10deg);
        }
        60% {
          transform: rotate(-20deg);
        }
        70% {
          transform: rotate(-10deg);
        }
        80% {
          transform: rotate(-20deg);
        }
        90% {
          transform: rotate(-10deg);
        }

        100% {
          right: 100%;
          transform: rotate(-20deg);
        }
      }
      &::before {
        content: "";
        background-image: url("./icons/firstleg.svg");
        display: block;
        position: absolute;
        width: 12px;
        height: 25px;
        left: 20%;
        bottom: 16%;
        animation-name: firstleg;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        @keyframes firstleg {
          0% {
            transform: rotate(30deg);
          }
          50% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(30deg);
          }
        }
      }
      &::after {
        content: "";
        background-image: url("./icons/secondleg.svg");
        display: block;
        position: absolute;
        width: 10px;
        height: 19px;
        bottom: 3%;
        right: 30%;
        animation-name: secondleg;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        @keyframes secondleg {
          0% {
            transform: rotate(30deg);
          }
          50% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(30deg);
          }
        }
      }
    }
    background-color: #204379;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 634px;
    padding: 60px 0px 8px;
    gap: 32px;
    //參考?
    // position: absolute;
    // height: 634px;
    // left: 0px;
    // right: 0px;
    // top: 0px;

    .txtandbtn {
      color: white;
      letter-spacing: 0.2em;

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
      }
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
      }
      .btn {
        padding: 16px 20px;
        gap: 8px;
        width: 200px;
        height: 57px;
        transform: translateX(30px);
        background: #b57556;
        box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
        border-radius: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: white;
        letter-spacing: 0.2em;
        margin-top: 36px;
        border: none;
        text-align: center;
        position: relative;
        &.btn:after {
          content: "";
          background: #b57556;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
        &::before {
          content: "";
          background: linear-gradient(
            124deg,
            #ff2400,
            #e81d1d,
            #e8b71d,
            #e3e81d,
            #1de840,
            #1ddde8,
            #2b1de8,
            #dd00f3,
            #dd00f3
          );
          background-size: auto;
          background-size: 400%;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          border-radius: 50px;
          filter: blur(5px);
          // opacity: 0;
          position: absolute;
          left: -2px;
          top: -2px;
          z-index: -2;
          transition: all 0.3s ease-in-out;
          animation: move 20s linear infinite;
        }
        &::before {
          opacity: 1;
        }
        @keyframes move {
          0% {
            background-position: 0 0;
          }
          50% {
            background-position: 400% 0;
          }
          100% {
            background-position: 0 0;
          }
        }

        a {
          &:visited {
            color: white;
          }
          text-decoration: none;
          list-style: none;
        }
        &:active {
          border: 3px solid #74584a;
        }
      }
    }
    .content {
      z-index: 5;
      padding: 24px 16px;
      gap: 24px;
      background: #dae4f1;
      border: 2px solid #b57556;
      border-radius: 20px;
      width: 808px;
      height: 322px;
      position: relative;

      //iconposition
      .bubblesup {
        position: absolute;
        top: -10%;
        right: -3%;

        &::before {
          content: "";
          background-image: url("./icons/fin.svg");
          display: block;
          position: absolute;
          width: 62px;
          height: 46px;
          right: -3px;
          bottom: 14px;
          & {
            animation-name: fin;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: normal;
          }
          @keyframes fin {
            0% {
              transform: rotate(20deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }
        }

        //bubblesupanimation
        & {
          animation-name: bubblesup;
          animation-duration: 24s;
          animation-iteration-count: infinite;
          animation-direction: normal;
        }
        @keyframes bubblesup {
          0% {
            right: -3%;
          }
          35% {
            right: 85%;
            transform: rotate(0deg);
          }

          50% {
            right: 95%;
            transform: rotate(180deg);
          }
          85% {
            transform: rotate(180deg);
          }
          100% {
            right: -3%;
          }
        }

        .bubble {
          position: absolute;
          // top: 0%;
          right: 45%;

          &::before {
            content: "";
            background-image: url("./icons/sbubble.svg");
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            top: -30px;
            right: 3px;
          }
          &::after {
            content: "";
            background-image: url("./icons/lbubble.svg");
            display: block;
            position: absolute;

            width: 20px;
            height: 20px;
            top: -50px;
            right: -15px;
          }
        }

        //bubbleanimation
        .bubble {
          animation-name: bubble;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-direction: normal;
        }
        @keyframes bubble {
          0% {
            transform: scale(0%);
            top: 0%;
          }
          50% {
            top: -25%;
          }
          75% {
            opacity: 0.7;
            transform: scale(100%);
          }
          100% {
            opacity: 0;
            top: -75%;
          }
        }
      }
      .firesup {
        position: absolute;
        bottom: 0;
        left: 7%;

        &::before {
          content: "";
          background-image: url("./icons/fire.svg");
          display: block;
          width: 52px;
          height: 52px;
          position: absolute;
          bottom: -45px;
          left: -35px;
          animation-name: fire;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          @keyframes fire {
            0% {
              transform: scale(10%);
              bottom: 0px;
            }
            50% {
              bottom: 100px;
            }
            75% {
              opacity: 0.7;
              transform: scale(200%);
            }
            100% {
              opacity: 0;
              bottom: 100px;
            }
          }
        }
        &::after {
          content: "";
          background-image: url("./icons/sup.svg");
          display: block;
          width: 66px;
          height: 67px;
          position: absolute;
          bottom: -45px;
        }
      }

      .con {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: #204379;
        h3 {
          margin: 24px;
          position: relative;
          display: inline-block;
          &::after {
            content: "";
            background-image: url("./icons/grass.svg");
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            left: -30px;
          }
          &::before {
            content: "";
            background-image: url("./icons/grass.svg");
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            right: -30px;
          }
        }
        ol {
          margin-left: 16px;
        }
        ol li {
          text-align: start;
          align-self: stretch;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 180%;
          color: #204379;
        }
      }
      .con2 ol li:first-child strong {
        text-decoration: underline;
      }
    }
    .header-food {
      z-index: 2;
    }
  }
  .header-food {
    background-color: #204379;
    min-height: 20vh;
    width: 100%;
    // img {
    //   width: 100%;
    // }
  }
}
//lottery
.lottery {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 58px;
  margin-top: 40px;
  gap: 40px;
  background: rgba(226, 217, 211, 1);
  height: 813px;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    width: 808px;
    // height: 575px;
    background: #ffffff;
    border: 2px solid #b57556;
    box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
    border-radius: 16px;
    margin: auto;
    position: relative;
    .formtag {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      gap: 20px;
      position: absolute;
      width: 123px;
      height: 43px;
      left: 50%;
      transform: translateX(-50%);
      top: -4%;
      color: #b57556;
      letter-spacing: 0.2em;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      .turtle {
        position: absolute;
        right: -35%;
        top: -45%;
        &::before {
          content: "";
          background-image: url("./icons/firstleg.svg");
          display: block;
          position: absolute;
          width: 12px;
          height: 25px;
          left: 20%;
          bottom: 16%;
        }
        &::after {
          content: "";
          background-image: url("./icons/secondleg.svg");
          display: block;
          position: absolute;
          width: 10px;
          height: 19px;

          bottom: 3%;
          right: 30%;
        }
      }

      /* Text Color/white */

      background: #ffffff;
      /* Primary Color 2 */

      border: 2px solid #b57556;
      box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
      border-radius: 50px;
    }
    form {
      width: 100%;
      height: 100%;
      label {
        display: block;
        width: 38px;
        height: 22px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #204379;
        position: relative;
        &::after {
          content: "*";
          color: red;
          position: absolute;
          margin-left: 4px;
          top: -3px;
        }
      }
      input,
      select {
        width: 95%;
        background: #ffffff;
        border: 1px solid #204379;
        border-radius: 20px;
        height: 10%;
        padding: 16px;
        margin: 0.5rem 0 1rem 0;
      }
    }
  }
  .submit {
    width: 20%;
    min-height: 57px;
    background: #b57556;
    box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35),
      0px -4px 10px rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 125%;
    color: white;
    & {
      animation-name: submit;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      @keyframes submit {
        0% {
          transform: scale(100%);
        }
        50% {
          transform: scale(120%);
        }
        100% {
          transform: scale(100%);
        }
      }
    }
    &:active {
      animation-name: submit;
      animation-duration: 4s;
      animation-iteration-count: none;
      animation-direction: normal;
      @keyframes submit {
        0% {
          transform: scale(100%);
        }
        50% {
          transform: scale(120%);
        }
        100% {
          transform: scale(100%);
        }
      }
    }

    .success {
      display: none;
      vertical-align: bottom;
      transform: translateX(-50%);
      color: #e6ffb1;
    }
    .failure {
      display: none;
      vertical-align: bottom;
      color: #ffe3e3;
      transform: rotate(-45deg);
      transform: translateX(-150%);
    }
  }
  .setsubmit {
    color: #e6ffb1;
    .success {
      display: inline;
    }
  }
  .setfailure {
    color: #ffe3e3;
    .failure {
      display: inline;
    }
  }
  .failuremsg {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #e06d6d;
  }
  .successmsg {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #7886dc;
  }
  .succes {
    &:active {
      border: 3px solid #74584a;
    }
  }
  .disabled {
    opacity: 0.7;
  }
}

//gift

.Gift {
  background: rgba(226, 217, 211, 1);
  background-image: url("./icons/sand.png");
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 40px;
  .background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20%;
    .gold {
      color: #b3b960;
    }
    .silver {
      color: #a0bcc8;
    }
  }
  .background .giftitem {
    width: 178px;
    height: 145px;
    position: relative;
    margin: 10px;

    // position: absolute;

    .giftbottom {
      position: absolute;
      width: 178px;
      height: 108px;
      left: 0px;
      top: 24px;

      // width: 178px;
      // height: 112px;
      // left: 0px;
      // top: 0px;
      background: #ffffff;
      box-shadow: 0px 8px 0px #edeef0;
      border-radius: 20px;
    }
    .giftlabel {
      position: absolute;
      left: 31.46%;
      // right: 31.83%;
      // top: 0%;
      // bottom: 46.21%;
      p {
        position: absolute;
        width: 11px;
        height: 21px;
        left: 27px;
        top: 23px;

        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 700;
        font-size: 16.916px;
        line-height: 125%;
        /* or 21px */

        text-align: center;

        color: white;
      }
    }
    .giftright {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 3px 10px;
      gap: 10px;
      position: absolute;
      width: 46px;
      height: 26px;
      left: 125px;
      top: 42px;
      background: #fafafa;
      border: 1px solid #b3b960;
      border-radius: 50px;
    }
    .gifttxt {
      position: absolute;
      top: 68%;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      // display: flex;
      width: 100%;

      // align-items: center;
      text-align: center;
    }
  }
}

//lottery2

.lottery2 {
  width: 100%;
  background: rgba(226, 217, 211, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 24px;

  .lottety2item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: relative;
    width: 274px;
    height: 298px;
    .left {
      position: absolute;
      width: 20px;
      height: 75px;
      left: 0px;
      top: 4px;

      /* Primary Color 1 */

      // border: 1px solid #204379;
    }
    .right {
      position: absolute;
      width: 20px;
      height: 75px;
      left: 254px;
      top: 4px;

      /* Primary Color 1 */

      // border: 1px solid #204379;
      // transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .lottery2txt {
      width: 216px;
      height: 84px;
      left: 28.98px;
      top: 0px;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: rgba(32, 67, 121, 1);
      p:first-child {
        color: #b57556;
      }
    }
  }
}

//mall
.mallbackground {
  background-color: rgba(226, 217, 211, 1);
  width: 100%;
}
.mall {
  background: #204379;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 19px;
  gap: 24px;
  width: 100%;
  // height: 677px;
  border-radius: 50px 50px 0px 0px;
  .malltxt {
    width: 303px;
    height: 80px;

    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 200%;
    /* or 40px */

    text-align: center;
    letter-spacing: 0.2em;

    /* Text Color/white */

    color: #ffffff;
  }
  .mallhouse {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    position: relative;
    width: 341px;
    height: 492px;
    // left: 17px;
    // top: 1px;
    border-radius: 8%;
    background: #d3d4db;
    & > img {
      transform: translateX(-4.6%);
      position: absolute;
      z-index: 1;
    }
    .mallcontent {
      // position: absolute;
      width: 94%;
      transform: translateX(3%);
      height: 90%;
      border-radius: 8% 8% 0 0;
      background: #f7f7f8;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 25%;
      .malltxt {
        h3 {
          // position: absolute;
          // width: 216px;
          // height: 66px;
          // left: 80px;
          // top: 76px;

          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 900;
          font-size: 32.7529px;
          line-height: 200%;
          /* identical to box height, or 66px */

          text-align: center;
          letter-spacing: 0.2em;

          /* Primary Color 2 */

          color: #b57556;
        }
        .mallstart {
          // position: absolute;
          // width: 116px;
          // height: 25px;
          // left: 139px;
          // top: 145px;

          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 700;
          font-size: 12.4064px;
          line-height: 200%;
          /* identical to box height, or 25px */
          margin-bottom: 5%;
          text-align: center;
          letter-spacing: 0.2em;
          color: #bed3e5;
          img {
            position: absolute;
            left: 25%;
            transform: translateY(50%);
          }
        }
        .malllink {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          // gap: 8px;
          margin: 0 10%;
          a {
            width: 35%;
          }
        }
        img {
          transform: translateY(-16px);
        }
      }
    }
  }
  .mallbotbtn {
    position: absolute;
    bottom: 5%;
    left: 47%;
  }
}
