* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  .header {
    background-color: #204379;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 634px;
    padding: 60px 0px 8px;
    gap: 32px;
    //參考?
    // position: absolute;
    // height: 634px;
    // left: 0px;
    // right: 0px;
    // top: 0px;

    .txtandbtn {
      color: white;
      letter-spacing: 0.2em;

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 125%;
      }
      p {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
      }
      button {
        padding: 16px 20px;
        gap: 8px;
        width: 200px;
        height: 57px;
        background: #b57556;
        box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
        border-radius: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: white;
        letter-spacing: 0.2em;
        margin-top: 36px;
        border: none;
        &:active {
          border: 3px solid #74584a;
        }
      }
    }
    .content {
      padding: 24px 16px;
      gap: 24px;
      background: #dae4f1;
      border: 2px solid #b57556;
      border-radius: 20px;
      width: 808px;
      height: 322px;

      .con {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 125%;
        color: #204379;
        h3 {
          margin: 24px;
        }
        ol {
          margin-left: 16px;
        }
        ol li {
          text-align: start;
          align-self: stretch;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 180%;
          color: #204379;
        }
      }
      .con2 ol li:first-child strong {
        text-decoration: underline;
      }
    }
  }
  .header-food {
    display: flex;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
//lottery
.lottery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 58px;
  margin-top: 57px;
  gap: 40px;
  background: rgba(226, 217, 211, 1);
  height: 813px;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    width: 808px;
    // height: 575px;
    background: #ffffff;
    border: 2px solid #b57556;
    box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
    border-radius: 16px;
    margin: auto;
    form {
      width: 100%;
      height: 100%;
      label {
        display: block;
        width: 38px;
        height: 22px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #204379;
        position: relative;
        &::after {
          content: "*";
          color: red;
          position: absolute;
          margin-left: 4px;
          top: -3px;
        }
      }
      input,
      select {
        width: 95%;
        background: #ffffff;
        border: 1px solid #204379;
        border-radius: 20px;
        height: 10%;
        padding: 16px;
        margin: 0.5rem 0 1rem 0;
      }
    }
  }
  .submit {
    width: 20%;
    min-height: 57px;
    background: #b57556;
    box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35),
      0px -4px 10px rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 125%;

    .success {
      display: none;
      vertical-align: bottom;
      transform: translateX(-50%);
      color: #e6ffb1;
    }
    .failure {
      display: none;
      vertical-align: bottom;
      color: #ffe3e3;
      transform: rotate(-45deg);
      transform: translateX(-150%);
    }
  }
  .setsubmit {
    color: #e6ffb1;
    .success {
      display: inline;
    }
  }
  .setfailure {
    color: #ffe3e3;
    .failure {
      display: inline;
    }
  }
  .failuremsg {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #e06d6d;
  }
  .successmsg {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #7886dc;
  }
  .succes {
    &:active {
      border: 3px solid #74584a;
    }
  }
  .disabled {
    opacity: 0.7;
  }
}
