* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.header {
  background-color: #204379;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  gap: 32px;
}
.header #wave2 {
  width: 100%;
  height: 83vh;
  top: 35px;
  position: absolute;
}
.header .turtle {
  position: absolute;
  -webkit-animation-name: turtle;
          animation-name: turtle;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes turtle {
  0% {
    right: 0;
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    right: 100%;
    transform: rotate(-20deg);
  }
}
@keyframes turtle {
  0% {
    right: 0;
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    right: 100%;
    transform: rotate(-20deg);
  }
}
.header .turtle::before {
  content: "";
  background-image: url("./icons/firstleg.svg");
  display: block;
  position: absolute;
  width: 12px;
  height: 25px;
  left: 20%;
  bottom: 16%;
  -webkit-animation-name: firstleg;
          animation-name: firstleg;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes firstleg {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes firstleg {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.header .turtle::after {
  content: "";
  background-image: url("./icons/secondleg.svg");
  display: block;
  position: absolute;
  width: 10px;
  height: 19px;
  bottom: 3%;
  right: 30%;
  -webkit-animation-name: secondleg;
          animation-name: secondleg;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes secondleg {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes secondleg {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.header .txtandbtn {
  color: white;
  letter-spacing: 0.2em;
}
.header .txtandbtn h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
}
.header .txtandbtn p {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
}
.header .txtandbtn .btn {
  padding: 16px 20px;
  gap: 8px;
  width: 200px;
  height: 57px;
  transform: translateX(30px);
  background: #b57556;
  box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  border-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: white;
  letter-spacing: 0.2em;
  margin-top: 36px;
  border: none;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.header .txtandbtn .btn.btn:after {
  content: "";
  background: #b57556;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.header .txtandbtn .btn::before {
  content: "";
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: auto;
  background-size: 400%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  filter: blur(5px);
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -2;
  transition: all 0.3s ease-in-out;
  -webkit-animation: move 20s linear infinite;
          animation: move 20s linear infinite;
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.header .txtandbtn .btn a {
  text-decoration: none;
  list-style: none;
}
.header .txtandbtn .btn a:visited {
  color: white;
}
.header .txtandbtn .btn:active {
  border: 3px solid #74584a;
}
.header .content {
  z-index: 5;
  padding: 24px 16px;
  gap: 24px;
  background: #dae4f1;
  border: 2px solid #b57556;
  border-radius: 20px;
  width: 57%;
  position: relative;
}
.header .content .bubblesup {
  position: absolute;
  top: -40px;
  right: -3%;
}
.header .content .bubblesup::before {
  content: "";
  background-image: url("./icons/fin.svg");
  display: block;
  position: absolute;
  width: 62px;
  height: 46px;
  right: -3px;
  bottom: 14px;
}
.header .content .bubblesup::before {
  -webkit-animation-name: fin;
          animation-name: fin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes fin {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fin {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header .content .bubblesup {
  -webkit-animation-name: bubblesup;
          animation-name: bubblesup;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes bubblesup {
  0% {
    right: -3%;
  }
  35% {
    right: 85%;
  }
  50% {
    right: 95%;
  }
  100% {
    right: -3%;
  }
}
@keyframes bubblesup {
  0% {
    right: -3%;
  }
  35% {
    right: 85%;
  }
  50% {
    right: 95%;
  }
  100% {
    right: -3%;
  }
}
.header .content .bubblesup .bubble {
  position: absolute;
  right: 45%;
}
.header .content .bubblesup .bubble::before {
  content: "";
  background-image: url("./icons/sbubble.svg");
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: -30px;
  right: 3px;
}
.header .content .bubblesup .bubble::after {
  content: "";
  background-image: url("./icons/lbubble.svg");
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -50px;
  right: -15px;
}
.header .content .bubblesup .bubble {
  -webkit-animation-name: bubble;
          animation-name: bubble;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes bubble {
  0% {
    transform: scale(0%);
    top: 0%;
  }
  50% {
    top: -25%;
  }
  75% {
    opacity: 0.7;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    top: -75%;
  }
}
@keyframes bubble {
  0% {
    transform: scale(0%);
    top: 0%;
  }
  50% {
    top: -25%;
  }
  75% {
    opacity: 0.7;
    transform: scale(100%);
  }
  100% {
    opacity: 0;
    top: -75%;
  }
}
.header .content .firesup {
  position: absolute;
  bottom: 0;
  left: 7%;
}
.header .content .firesup::before {
  content: "";
  background-image: url("./icons/fire.svg");
  display: block;
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: -45px;
  left: -35px;
  -webkit-animation-name: fire;
          animation-name: fire;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes fire {
  0% {
    transform: scale(10%);
    bottom: 0px;
  }
  50% {
    bottom: 100px;
  }
  75% {
    opacity: 0.7;
    transform: scale(200%);
  }
  100% {
    opacity: 0;
    bottom: 100px;
  }
}
@keyframes fire {
  0% {
    transform: scale(10%);
    bottom: 0px;
  }
  50% {
    bottom: 100px;
  }
  75% {
    opacity: 0.7;
    transform: scale(200%);
  }
  100% {
    opacity: 0;
    bottom: 100px;
  }
}
.header .content .firesup::after {
  content: "";
  background-image: url("./icons/sup.svg");
  display: block;
  width: 66px;
  height: 67px;
  position: absolute;
  bottom: -45px;
}
.header .content .con {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #204379;
}
.header .content .con h3 {
  margin: 24px;
  position: relative;
  display: inline-block;
}
.header .content .con h3::after {
  content: "";
  background-image: url("./icons/grass.svg");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: -30px;
}
.header .content .con h3::before {
  content: "";
  background-image: url("./icons/grass.svg");
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: -30px;
}
.header .content .con ol {
  margin-left: 16px;
}
.header .content .con ol li {
  text-align: start;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #204379;
}
.header .content .con2 ol li:first-child strong {
  text-decoration: underline;
}
.header .header-food {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 10vh;
  background: rgb(226, 217, 211);
}
.header .header-food::after {
  content: "";
  background-image: url("./icons/waves.png");
  width: 100%;
  height: 150%;
  position: absolute;
  bottom: 0%;
  transition: all 0.3s ease-in-out;
  -webkit-animation: waves 20s linear infinite;
          animation: waves 20s linear infinite;
}
@-webkit-keyframes waves {
  0% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}
@keyframes waves {
  0% {
    background-position: 400%;
  }
  100% {
    background-position: 0%;
  }
}

@media (max-width: 450px) and (max-height: 950px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 118%;
  }
  @-webkit-keyframes bubblesup {
    0% {
      right: -3%;
    }
    35% {
      right: 80%;
    }
    50% {
      right: 85%;
    }
    100% {
      right: -3%;
    }
  }
  @keyframes bubblesup {
    0% {
      right: -3%;
    }
    35% {
      right: 80%;
    }
    50% {
      right: 85%;
    }
    100% {
      right: -3%;
    }
  }
}
@media (max-width: 950px) and (max-height: 500px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 256%;
  }
}
@media (width: 810px) and (height: 1080px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 100%;
  }
}
@media (width: 800px) and (height: 1280px) {
  .header .content {
    width: 88%;
  }
  .header-food {
    min-height: 8vh !important;
  }
  .header .header-food::after {
    height: 105%;
  }
}
@media (max-width: 1921px) and (min-height: 1070px) {
  .header-food {
    min-height: 8vh !important;
  }
  .header .header-food::after {
    height: 128%;
  }
}
@media (max-width: 1921px) and (min-height: 1190px) {
  .header-food {
    min-height: 8vh !important;
  }
  .header .header-food::after {
    height: 113%;
  }
}
@media (max-width: 415px) and (max-height: 897px) {
  .header .content {
    width: 88%;
  }
  .header .header-food::after {
    height: 123%;
  }
  .header-food::after {
    content: "";
    background-image: url("./icons/waves.png");
    width: 100%;
    height: 150%;
    position: absolute;
    bottom: 0%;
    transition: all 0.3s ease-in-out;
    -webkit-animation: waves 20s linear infinite;
            animation: waves 20s linear infinite;
  }
  @-webkit-keyframes waves {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  @keyframes waves {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}
.lottery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 58px;
  gap: 40px;
  background: rgb(226, 217, 211);
  height: 813px;
}
.lottery .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  width: 57%;
  background: #ffffff;
  border: 2px solid #b57556;
  box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
  border-radius: 16px;
  margin: auto;
  position: relative;
}
.lottery .form .formtag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  position: absolute;
  width: 123px;
  height: 43px;
  left: 50%;
  transform: translateX(-50%);
  top: -4%;
  color: #b57556;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  /* Text Color/white */
  background: #ffffff;
  /* Primary Color 2 */
  border: 2px solid #b57556;
  box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
  border-radius: 50px;
}
.lottery .form .formtag .turtle {
  position: absolute;
  right: -35%;
  top: -45%;
}
.lottery .form .formtag .turtle::before {
  content: "";
  background-image: url("./icons/firstleg.svg");
  display: block;
  position: absolute;
  width: 12px;
  height: 25px;
  left: 20%;
  bottom: 16%;
}
.lottery .form .formtag .turtle::after {
  content: "";
  background-image: url("./icons/secondleg.svg");
  display: block;
  position: absolute;
  width: 10px;
  height: 19px;
  bottom: 3%;
  right: 30%;
}
.lottery .form form {
  width: 100%;
  height: 100%;
}
.lottery .form form label {
  display: block;
  width: 38px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #204379;
  position: relative;
}
.lottery .form form label::after {
  content: "*";
  color: red;
  position: absolute;
  margin-left: 4px;
  top: -3px;
}
.lottery .form form label span {
  display: none;
}
.lottery .form form input,
.lottery .form form select {
  width: 95%;
  background: #ffffff;
  border: 1px solid #204379;
  border-radius: 20px;
  height: 10%;
  padding: 12px;
  margin: 0.5rem 0 1rem 0;
}
.lottery .submit {
  width: 200px;
  min-height: 57px;
  background: #b57556;
  box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35), 0px -4px 10px rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 125%;
  color: white;
  cursor: pointer;
}
.lottery .submit {
  -webkit-animation-name: submit;
          animation-name: submit;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes submit {
  0% {
    -webkit-transform: scale(100%);
  }
  50% {
    -webkit-transform: scale(120%);
  }
  100% {
    -webkit-transform: scale(100%);
  }
}
@keyframes submit {
  0% {
    -webkit-transform: scale(100%);
  }
  50% {
    -webkit-transform: scale(120%);
  }
  100% {
    -webkit-transform: scale(100%);
  }
}
.lottery .submit .success {
  display: none;
  vertical-align: bottom;
  transform: translateX(-50%);
  color: #e6ffb1;
}
.lottery .submit .failure {
  display: none;
  vertical-align: bottom;
  color: #ffe3e3;
  transform: rotate(-45deg);
  transform: translateX(-150%);
}
.lottery .setsubmit {
  color: #e6ffb1;
}
.lottery .setsubmit .success {
  display: inline;
}
.lottery .setfailure {
  color: #ffe3e3;
}
.lottery .setfailure .failure {
  display: inline;
}
.lottery .failuremsg {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #e06d6d;
}
.lottery .successmsg {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #7886dc;
}
.lottery .succes:active {
  border: 3px solid #74584a;
}
.lottery .disabled {
  opacity: 0.7;
}

.lottery .errormsg {
  background-color: yellow;
  position: relative;
  top: -16px;
  left: 5px;
  border-radius: 10%;
  opacity: 0.5;
}

@media (max-width: 450px) {
  #lotteryform {
    margin: auto 0px;
  }
  .lottery .form {
    width: 100%;
  }
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 450px) {
  label span {
    display: inline !important;
    color: red;
    margin-right: 0px;
  }
  label::after {
    display: none;
  }
}
.Gift {
  background: rgb(226, 217, 211);
  background-image: url("./icons/sand.png");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 40px;
}
.Gift .background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20%;
}
.Gift .background .gold {
  color: #b3b960;
}
.Gift .background .silver {
  color: #a0bcc8;
}
.Gift .background .giftitem {
  width: 178px;
  height: 145px;
  position: relative;
  margin: 10px;
}
.Gift .background .giftitem .giftbottom {
  position: absolute;
  width: 178px;
  height: 108px;
  left: 0px;
  top: 24px;
  background: #ffffff;
  box-shadow: 0px 8px 0px #edeef0;
  border-radius: 20px;
}
.Gift .background .giftitem .giftlabel {
  position: absolute;
  left: 31.46%;
}
.Gift .background .giftitem .giftlabel p {
  position: absolute;
  width: 11px;
  height: 21px;
  left: 27px;
  top: 23px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 16.916px;
  line-height: 125%;
  /* or 21px */
  text-align: center;
  color: white;
}
.Gift .background .giftitem .giftright {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 10px;
  gap: 10px;
  position: absolute;
  width: 46px;
  height: 26px;
  left: 125px;
  top: 42px;
  background: #fafafa;
  border: 1px solid #b3b960;
  border-radius: 50px;
}
.Gift .background .giftitem .gifttxt {
  position: absolute;
  top: 68%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  width: 100%;
  text-align: center;
}

@media (max-width: 450px) {
  .Gift {
    padding: 40px 18px;
  }
  .Gift .background {
    padding: 0;
    justify-content: space-around;
  }
  .Gift .background .giftitem {
    margin: 0px;
  }
}
.lottery2 {
  width: 100%;
  background: rgb(226, 217, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  gap: 24px;
}
.lottery2 .lottety2item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  position: relative;
  width: 274px;
  height: 298px;
}
.lottery2 .lottety2item .left {
  position: absolute;
  width: 20px;
  height: 75px;
  left: 0px;
  top: 4px;
  /* Primary Color 1 */
}
.lottery2 .lottety2item .right {
  position: absolute;
  width: 20px;
  height: 75px;
  left: 254px;
  top: 4px;
  /* Primary Color 1 */
}
.lottery2 .lottety2item .lottery2txt {
  width: 216px;
  height: 84px;
  left: 28.98px;
  top: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: rgb(32, 67, 121);
}
.lottery2 .lottety2item .lottery2txt p:first-child {
  color: #b57556;
}

.mallbackground {
  background-color: rgb(226, 217, 211);
  width: 100%;
}

.mall {
  background: #204379;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 19px;
  gap: 24px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.mall .malltxt {
  width: 303px;
  height: 80px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  /* or 40px */
  text-align: center;
  letter-spacing: 0.2em;
  /* Text Color/white */
  color: #ffffff;
}
.mall .mallhouse {
  position: relative;
  width: 341px;
  height: 492px;
  border-radius: 8%;
  background: #d3d4db;
}
.mall .mallhouse > img {
  transform: translateX(-4.6%);
  position: absolute;
  z-index: 1;
}
.mall .mallhouse .mallcontent {
  width: 94%;
  transform: translateX(3%);
  height: 90%;
  border-radius: 8% 8% 0 0;
  background: #f7f7f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25%;
}
.mall .mallhouse .mallcontent .malltxt h3 {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 900;
  font-size: 32.7529px;
  line-height: 200%;
  /* identical to box height, or 66px */
  text-align: center;
  letter-spacing: 0.2em;
  /* Primary Color 2 */
  color: #b57556;
}
.mall .mallhouse .mallcontent .malltxt .mallstart {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 12.4064px;
  line-height: 200%;
  /* identical to box height, or 25px */
  margin-bottom: 5%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #bed3e5;
}
.mall .mallhouse .mallcontent .malltxt .mallstart img {
  position: absolute;
  left: 25%;
  transform: translateY(50%);
}
.mall .mallhouse .mallcontent .malltxt .malllink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;
}
.mall .mallhouse .mallcontent .malltxt .malllink a {
  width: 35%;
}
.mall .mallhouse .mallcontent .malltxt .malllink a:hover {
  transform: scale(1.1);
}
.mall .mallhouse .mallcontent .malltxt img {
  transform: translateY(-16px);
}
.mall .mallbotbtn {
  position: absolute;
  bottom: 5%;
  left: 47%;
}/*# sourceMappingURL=style.css.map */